
font-family: 'Krona One', sans-serif;
font-family: 'Lekton', sans-serif;



.navbar-brand{
    padding-right: 15px;
    max-width: 100%;
    display: flex;
}
.brand-red {
    color: #CC0E0E;
}
.btn-primary{
    background-color: rgb(31, 31, 31);
}

.btn-primary:hover {
    background-color: #0e11cc ;
   
    
}
.social{
    display: flex;
    gap: 1rem;
}
.h1{
    line-height: 120%;
}
.footer-wht{
    padding-top: 3rem;
    text-align: center;
}
@media (max-width: 768px) {
    .body{
        align-items: center;
    }
    .container {
        max-width: 100%;
        align-content: center; /* Align content to the left on smaller screens */
    }

    .navbar-bg-body-tertiary {
        max-width: 100%; /* Adjust logo width for smaller screens if needed */
    }
    .navbar-brand{
        padding-right: 15px;
        max-width: 100%;
    }
}

.logo-font-big{
    font-family: Krona One; 
    font-weight: 400;
    font-size: 1.25em;
}
.logo-font-small{
    font-family: Krona One;
    font-weight: 400;
    color: gray;
    font-size: .5em;
    
}
.container img{
    height: 100%;
    width: 100%;
}